  
  main {
    flex-grow: 1;
  }

  .bg-purple {
    background-color: purple !important;
  }

  .btn-purple {
    background-color: purple !important;
  }

  .carousel-inner .carousel-item img {
    height: auto;
    width: auto;
    max-width: 100% !important;
    max-height: 620px !important;
  }
  
  #offcanvasMenu {
    width: 60% !important;
  }
  
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 60% !important;
    cursor: pointer;
    background-color: #fefafa;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.9;
    transition: opacity .6s ease;
  }
  
  .emboss-menu {
    margin-top: 0 !important;
    color: rgba(195, 144, 144, 0.8) !important;
    text-decoration: none;
    text-shadow: 1px 3px 2 #EEE, 0 0 0 #000, 2px 3px 2 #EEE m !important;
  }

  .bg-input {
    background-color: rgb(247, 238, 238) !important;
    border-width: 1px !important;
    border-color: silver !important;
  }

  .usr {
    width: 100px;
    height: 100px;
  }

  .user {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
  }
  .logo {
    width: 100px;
    height: 35px;
  }
.about {
  width: 500px;
  height: auto;
}
.no-controls {
  pointer-events: none;
}

.align-justify {
  text-align: justify;
}

@media (max-width: 991.98px) { 
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 60% !important;
    cursor: pointer;
    background-color: #ccdf7f m !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.8;
    transition: opacity .6s ease;
  }  
 }